


[data-md-color-scheme="daxlib-light"] {
    --md-primary-fg-color: #555;
    --md-primary-fg-color--light: #555;
    --md-primary-fg-color--dark: #555;
    --md-primary-bg-color: #fff;
    --md-primary-bg-color--light: #fff;
    --md-primary-bg-color--dark: #fff;
    --md-accent-fg-color: #c40000;
    --md-accent-fg-color--transparent: #c400001a;
    --md-accent-bg-color: #fff;
    --md-accent-bg-color--light: #fff;
    --md-accent-bg-color--dark: #fff;
    --md-default-fg-color: #555;
    --md-default-fg-color--light: #555;
    --md-default-fg-color--lighter: #999;
    --md-default-fg-color--lightest: #ccc;
    --md-default-bg-color: #fff;
    --md-default-bg-color--light: #f5f5f5;
    --md-default-bg-color--lighter: #efefef;
    --md-default-bg-color--lightest: #e0e0e0;
    --md-code-fg-color: #333;
    --md-code-bg-color: #f5f5f5;
    --md-code-hl-color: #ffc;
    --md-code-hl-color--light: #ffc;
    --md-code-hl-number-color: #c40000;
    --md-code-hl-special-color: #c40000;
    --md-code-hl-function-color: #c40000;
    --md-code-hl-constant-color: #c40000;
    --md-code-hl-keyword-color: #00f;
    --md-code-hl-string-color: #555;
    --md-code-hl-name-color: #555;
    --md-code-hl-operator-color: #555;
    --md-code-hl-punctuation-color: #555;
    --md-code-hl-comment-color: #999;
    --md-code-hl-generic-color: #999;
    --md-code-hl-variable-color: #999;
    --md-typeset-color: #555;
    --md-typeset-a-color: #c40000;
    --md-typeset-mark-color: #ffc;
    --md-typeset-kbd-color: #f5f5f5;
    --md-typeset-kbd-accent-color: #fff;
    --md-typeset-kbd-border-color: #e0e0e0;
    --md-typeset-table-color: #555;
    --md-typeset-table-color--light: #999;
    --md-admonition-fg-color: #555;
    --md-admonition-bg-color: #f5f5f5;
    --md-footer-fg-color: #fff;
    --md-footer-fg-color--light: #fff;
    --md-footer-fg-color--lighter: #fff;
    --md-footer-bg-color: #555;
    --md-footer-bg-color--dark: #333;
    --md-shadow-z1: 0 0 .2rem #0003,0 .2rem .4rem #0003;
    --md-shadow-z2: 0 0 .2rem #0003,0 .4rem .8rem #0003;
    --md-shadow-z3: 0 0 .2rem #0003,0 .6rem 1.2rem #0003;
}

[data-md-color-scheme="daxlib-dark"] {
    --md-primary-fg-color: #fff;
    --md-primary-fg-color--light: #fff;
    --md-primary-fg-color--dark: #fff;
    --md-primary-bg-color: #2c2c2c;
    --md-primary-bg-color--light: #2c2c2c;
    --md-primary-bg-color--dark: #2c2c2c;
    --md-accent-fg-color: #e53935;
    --md-accent-fg-color--transparent: #e539351a;
    --md-accent-bg-color: #2c2c2c;
    --md-accent-bg-color--light: #2c2c2c;
    --md-accent-bg-color--dark: #2c2c2c;
    --md-default-fg-color: #fff;
    --md-default-fg-color--light: #fff;
    --md-default-fg-color--lighter: #ccc;
    --md-default-fg-color--lightest: #999;
    --md-default-bg-color: #212121;
    --md-default-bg-color--light: #333;
    --md-default-bg-color--lighter: #444;
    --md-default-bg-color--lightest: #555;
    --md-code-fg-color: #eee;
    --md-code-bg-color: #333;
    --md-code-hl-color: #ffc;
    --md-code-hl-color--light: #ffc;
    --md-code-hl-number-color: #e53935;
    --md-code-hl-special-color: #e53935;
    --md-code-hl-function-color: #e53935;
    --md-code-hl-constant-color: #e53935;
    --md-code-hl-keyword-color: #29b6f6;
    --md-code-hl-string-color: #fff;
    --md-code-hl-name-color: #fff;
    --md-code-hl-operator-color: #fff;
    --md-code-hl-punctuation-color: #fff;
    --md-code-hl-comment-color: #999;
    --md-code-hl-generic-color: #999;
    --md-code-hl-variable-color: #999;
    --md-typeset-color: #fff;
    --md-typeset-a-color: #e53935;
    --md-typeset-mark-color: #ffc;
    --md-typeset-kbd-color: #333;
    --md-typeset-kbd-accent-color: #212121;
    --md-typeset-kbd-border-color: #555;
    --md-typeset-table-color: #fff;
    --md-typeset-table-color--light: #ccc;
    --md-admonition-fg-color: #fff;
    --md-admonition-bg-color: #333;
    --md-footer-fg-color: #fff;
    --md-footer-fg-color--light: #fff;
    --md-footer-fg-color--lighter: #fff;
    --md-footer-bg-color: #2c2c2c;
    --md-footer-bg-color--dark: #212121;
    --md-shadow-z1: 0 0 .2rem #fff3,0 .2rem .4rem #fff3;
    --md-shadow-z2: 0 0 .2rem #fff3,0 .4rem .8rem #fff3;
    --md-shadow-z3: 0 0 .2rem #fff3,0 .6rem 1.2rem #fff3;
}
